<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key><string>en</string>
	<!-- __VERSION__ 由 Makefile 在 stage 時換成 PACKAGE_VERSION,不要手改。 -->
	<key>CFBundleExecutable</key><string>IslandSwipePrefs</string>
	<key>CFBundleIdentifier</key><string>com.c3x14n.islandswipe.prefs</string>
	<key>CFBundleName</key><string>IslandSwipe</string>
	<key>CFBundlePackageType</key><string>BNDL</string>
	<key>NSPrincipalClass</key><string>ISRootListController</string>
	<key>CFBundleShortVersionString</key><string>__VERSION__</string>
	<key>CFBundleVersion</key><string>__VERSION__</string>
</dict>
</plist>
